/*======================
   01. Theme Base CSS
=========================*/
html,
body {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #01114c;
  font-size: 16px;
  font-weight: 400;
  background: #ffffff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

section, header {
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

.container-fluid {
  padding: 0px;
  height: 100%; }

p, tr td {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.26px;
  line-height: 30px;
  color: #01114c; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  color: #01114c;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 500; }

a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  display: block;
  margin: 0px;
  color: #01114c;
  font-weight: 500;
  text-transform: capitalize; }

a:hover {
  text-decoration: none; }

a:active,
a:hover {
  outline: 0 none;
  color: none !important; }

section {
  position: relative; }

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

li {
  display: inline-block; }

.see_more {
  border: 2px solid #01114c;
  padding: 14px 50px;
  font-size: 17px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-weight: 400; }
  .see_more::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 3px;
    top: 3px;
    opacity: 0;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transition: all 0.3s ease-in-out; }
  .see_more::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    right: 3px;
    bottom: 3px;
    opacity: 0;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: all 0.3s ease-in-out; }
  .see_more:hover {
    background: #01114c;
    color: white;
    transition: all 0.3s ease-in-out; }
  .see_more:hover::before, .see_more:hover::after {
    width: 30px;
    height: 30px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.1s; }

.o_zero {
  opacity: 0; }

.d_none {
  display: none; }

.color_one {
  color: #17B0C3; }

.bold_p {
  font-weight: 700; }

.owl-theme .owl-nav .owl-next {
  color: #17B0C3;
  text-decoration: none; }

.owl-theme .owl-nav .owl-next:hover {
  color: #444444;
  background: none;
  text-decoration: none; }

.owl-theme .owl-nav [class*=owl-] {
  background: no-repeat; }

.owl-theme .owl-nav .owl-prev {
  color: #444444; }

/*=====basce css end here=========*/
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav {
  margin-top: 10px; }

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  margin: 5px;
  padding: 4px 7px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #02baab; }

/* =====================================
MARGIN TOP
===================================== */
.mt-0 {
  margin-top: 0; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-90 {
  margin-top: 90px; }

.mt-100 {
  margin-top: 100px; }

.mt-110 {
  margin-top: 110px; }

.mt-120 {
  margin-top: 120px; }

.mt-130 {
  margin-top: 130px; }

.mt-140 {
  margin-top: 140px; }

.mt-150 {
  margin-top: 150px; }

/* =====================================
MARGIN RIGHT,LEFT
===================================== */
.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-30 {
  margin-right: 30px; }

.mr-20 {
  margin-right: 20px; }

.mr-40 {
  margin-right: 40px; }

.mr-50 {
  margin-right: 50px; }

.mr-60 {
  margin-right: 60px; }

.mr-80 {
  margin-right: 80px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

.ml-50 {
  margin-left: 50px; }

.ml-60 {
  margin-left: 60px; }

.ml-80 {
  margin-left: 80px; }

/* =====================================
MARGIN BOTTOM
===================================== */
.mb-0 {
  margin-bottom: 0; }

.mb-5 {
  margin-bottom: 5; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-55 {
  margin-bottom: 55px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-100 {
  margin-bottom: 100px; }

.mb-110 {
  margin-bottom: 110px; }

.mb-120 {
  margin-bottom: 120px; }

.mb-130 {
  margin-bottom: 130px; }

.mb-140 {
  margin-bottom: 140px; }

.mb-150 {
  margin-bottom: 150px; }

/*===================================== 
PADDING TOP
===================================== */
.pt-0 {
  padding-top: 0; }

.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-30 {
  padding-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.pt-50 {
  padding-top: 50px; }

.pt-60 {
  padding-top: 60px; }

.pt-70 {
  padding-top: 70px; }

.pt-80 {
  padding-top: 80px; }

.pt-90 {
  padding-top: 90px; }

.pt-100 {
  padding-top: 100px; }

.pt-110 {
  padding-top: 110px; }

.pt-120 {
  padding-top: 120px; }

.pt-130 {
  padding-top: 130px; }

.pt-140 {
  padding-top: 140px; }

.pt-150 {
  padding-top: 150px; }

.pt-160 {
  padding-top: 160px; }

.pt-180 {
  padding-top: 180px; }

.pt-190 {
  padding-top: 190px; }

.pt-200 {
  padding-top: 200px; }

.pt-210 {
  padding-top: 210px; }

.pt-260 {
  padding-top: 260px; }

.pt-300 {
  padding-top: 300px; }

/* =====================================
PADDING RIGHT
===================================== */
.pr-0 {
  padding-right: 0; }

.pr-10 {
  padding-right: 10px; }

.pr-15 {
  padding-right: 15px; }

.pr-20 {
  padding-right: 20px; }

.pr-25 {
  padding-right: 25px; }

.pr-30 {
  padding-right: 30px; }

.pr-40 {
  padding-right: 40px; }

.pr-45 {
  padding-right: 45px; }

.pr-50 {
  padding-right: 50px; }

.pr-60 {
  padding-right: 60px; }

.pr-70 {
  padding-right: 70px; }

.pr-75 {
  padding-right: 75px; }

.pr-80 {
  padding-right: 80px; }

.pr-90 {
  padding-right: 90px; }

.pr-100 {
  padding-right: 100px; }

.pr-110 {
  padding-right: 110px; }

.pr-120 {
  padding-right: 120px; }

.pr-130 {
  padding-right: 130px; }

.pr-140 {
  padding-right: 140px; }

/* =====================================
PADDING BOTTOM
===================================== */
.pb-0 {
  padding-bottom: 0; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-90 {
  padding-bottom: 90px; }

.pb-100 {
  padding-bottom: 100px; }

.pb-110 {
  padding-bottom: 110px; }

.pb-120 {
  padding-bottom: 120px; }

.pb-130 {
  padding-bottom: 130px; }

.pb-140 {
  padding-bottom: 140px; }

.pb-150 {
  padding-bottom: 150px; }

.pb-160 {
  padding-bottom: 160px; }

.pb-170 {
  padding-bottom: 170px; }

.pb-180 {
  padding-bottom: 180px; }

.pb-190 {
  padding-bottom: 190px; }

.pb-200 {
  padding-bottom: 200px; }

.pb-220 {
  padding-bottom: 220px; }

.pb-250 {
  padding-bottom: 250px; }

.pb-300 {
  padding-bottom: 300px; }

/* =====================================
PADDING LEFT
===================================== */
.pl-0 {
  padding-left: 0; }

.pl-10 {
  padding-left: 10px; }

.pl-15 {
  padding-left: 15px; }

.pl-20 {
  padding-left: 20px; }

.pl-25 {
  padding-left: 25px; }

.pl-30 {
  padding-left: 30px; }

.pl-40 {
  padding-left: 40px; }

.pl-45 {
  padding-left: 45px; }

.pl-50 {
  padding-left: 50px; }

.pl-60 {
  padding-left: 60px; }

.pl-70 {
  padding-left: 70px; }

.pl-80 {
  padding-left: 80px; }

.pl-90 {
  padding-left: 90px; }

.pl-100 {
  padding-left: 100px; }

.pl-110 {
  padding-left: 110px; }

.pl-120 {
  padding-left: 120px; }

.pl-130 {
  padding-left: 130px; }

.pl-140 {
  padding-left: 140px; }

.pl-150 {
  padding-left: 150px; }

/* =====================================
1.3. PAGE SECTION PADDING
===================================== */
.ptb-0 {
  padding: 0; }

.ptb-10 {
  padding: 10px 0; }

.ptb-20 {
  padding: 20px 0; }

.ptb-30 {
  padding: 30px 0; }

.ptb-40 {
  padding: 40px 0; }

.ptb-50 {
  padding: 50px 0; }

.ptb-60 {
  padding: 60px 0; }

.ptb-70 {
  padding: 70px 0; }

.ptb-80 {
  padding: 80px 0; }

.ptb-90 {
  padding: 90px 0; }

.ptb-100 {
  padding: 100px 0; }

.ptb-110 {
  padding: 110px 0; }

.ptb-120 {
  padding: 120px 0; }

.ptb-130 {
  padding: 130px 0; }

.ptb-140 {
  padding: 140px 0; }

.ptb-150 {
  padding: 150px 0; }

.p-100 {
  padding: 100px; }

/* =====================================
1.4. PAGE SECTION MARGIN
===================================== */
.mtb-0 {
  margin: 0; }

.mtb-10 {
  margin: 10px 0; }

.mtb-15 {
  margin: 15px 0; }

.mtb-20 {
  margin: 20px 0; }

.mtb-30 {
  margin: 30px 0; }

.mtb-40 {
  margin: 40px 0; }

.mtb-50 {
  margin: 50px 0; }

.mtb-60 {
  margin: 60px 0; }

.mtb-70 {
  margin: 70px 0; }

.mtb-80 {
  margin: 80px 0; }

.mtb-90 {
  margin: 90px 0; }

.mtb-100 {
  margin: 100px 0; }

.mtb-110 {
  margin: 110px 0; }

.mtb-120 {
  margin: 120px 0; }

.mtb-130 {
  margin: 130px 0; }

.mtb-140 {
  margin: 140px 0; }

.mtb-150 {
  margin: 150px 0; }

.mr-60 {
  margin: 0px 60px 0px 0px; }

header .navmenu {
  width: 100%; }
  header .navmenu .navbar {
    padding: 10px 0px;
    width: 100%; }
    header .navmenu .navbar a.navbar-brand {
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 600;
      color: #d5d5d8; }
    header .navmenu .navbar .menu_area {
      text-align: center;
      flex: 1;
      display: flex; }
      header .navmenu .navbar .menu_area .collapse_area {
        justify-content: center; }
        header .navmenu .navbar .menu_area .collapse_area .navbar-nav li {
          padding: 0px 25px; }
          header .navmenu .navbar .menu_area .collapse_area .navbar-nav li a {
            padding: 5px 0px;
            color: #01114c;
            transition: all 0.3s ease-in-out;
            position: relative;
            overflow: hidden; }
            header .navmenu .navbar .menu_area .collapse_area .navbar-nav li a::before {
              position: absolute;
              content: "";
              width: 0%;
              height: 2px;
              background: #01114c;
              bottom: 0px;
              left: 50%;
              transform: translate(-50%, 0);
              opacity: 0;
              transition: all 0.3s ease-in-out; }
            header .navmenu .navbar .menu_area .collapse_area .navbar-nav li a:hover {
              color: #01114c;
              transition: all 0.3s ease-in-out; }
              header .navmenu .navbar .menu_area .collapse_area .navbar-nav li a:hover::before {
                width: 100%;
                opacity: 1;
                transition: all 0.3s ease-in-out; }
header .banner .banner_slider:hover button.slick-prev.slick-arrow, header .banner .banner_slider:hover button.slick-next.slick-arrow {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  transition-delay: 1.5s; }
header .banner .banner_slider:hover button.slick-next.slick-arrow {
  right: 20px; }
header .banner .banner_slider:hover button.slick-prev.slick-arrow {
  left: 20px; }
header .banner .banner_slider .slick-arrow {
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.1);
  z-index: 100;
  transition: all 0.3s ease-in-out; }
header .banner .banner_slider button.slick-prev.slick-arrow {
  left: 40px;
  transform: scale(0.3);
  opacity: 0; }
header .banner .banner_slider button.slick-next.slick-arrow {
  right: 40px;
  transform: scale(0.3);
  opacity: 0; }
header .banner .banner_slider button.slick-prev.slick-arrow::after, header .banner .banner_slider button.slick-next.slick-arrow::after {
  position: absolute;
  font-family: 'Font Awesome 5 Pro';
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #01114c;
  font-size: 20px;
  left: 0;
  top: 0; }
header .banner .banner_slider button.slick-prev.slick-arrow::after {
  content: "\f104"; }
header .banner .banner_slider button.slick-next.slick-arrow::after {
  content: "\f105"; }
header .banner .banner_slider button.slick-prev.slick-arrow::before, header .banner .banner_slider button.slick-next.slick-arrow::before {
  display: none; }
header .banner .banner_slider .banner_item {
  padding: 140px 0px 150px;
  position: relative;
  transition: all 0.3s ease-in-out; }
  header .banner .banner_slider .banner_item .slider_img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }
  header .banner .banner_slider .banner_item .img_one {
    background: url("../images/banner_s1.jpg");
    background-size: cover; }
  header .banner .banner_slider .banner_item .img_two {
    background: url("../images/banner_s2.jpg");
    background-size: cover; }
  header .banner .banner_slider .banner_item .banner_content {
    padding-right: 30px; }
    header .banner .banner_slider .banner_item .banner_content h2 {
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: 600; }
    header .banner .banner_slider .banner_item .banner_content p {
      font-size: 18px; }
    header .banner .banner_slider .banner_item .banner_content .button_inner {
      margin-top: 40px; }
      header .banner .banner_slider .banner_item .banner_content .button_inner a.see_more {
        font-size: 18px;
        font-weight: 500; }

.app_title_section {
  background: #01114c;
  background-size: cover; }
  .app_title_section .title_inner h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    color: #ffd700; }
    .app_title_section .title_inner h2 span {
      display: block; }

.story_section .section_title {
  text-align: center; }
  .story_section .section_title h2 {
    font-size: 42px;
    font-weight: 600; }

/*# sourceMappingURL=style.css.map */
