$primary_color:#0a0ee2;
$second_color:#c0cdfc;
$gold: #ffd700;
$font: #01114c;
$bg: #dcf6fb;
$bg2: #fcfde3;
$white:rgba(255,255,255,1);
$border:#d5d5d8;
$black:rgba(0,0,0,1);
$transition: all 0.3s ease-in-out;
$transition-two: all 0.5s ease-in-out;
$shadow:5px 5px 60px 0px rgba( 45, 19, 106, 0.4);
$shadow-two: 0px 1px 10px 0px rgba(45, 19, 106, 0.1);
$shadow-three:0px 8px 20px 0px rgba(45, 19, 106, 0.2);

$gradiunt: linear-gradient(to left, #c0cdfc 0%, #fcfde3 100%); 